TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=337637584
LORIS_USE_NODRIVER=true
LIGHTER_ACCOUNT_INDEX=189622
LIGHTER_API_KEY_INDEX=4
LIGHTER_PRIVATE_KEY=
ASTER_API_WALLET_ADDRESS=0xbed2ebc4bdfc12af9f5864e38321113b83d9019a
ASTER_API_WALLET_PRIVATE_KEY=
ASTER_USER_ADDRESS=0xE8c48e5aE6bbEcD17bC05032E329b4e9B12Fd0CC
HYPERLIQUID_PRIVATE_KEY=
HYPERLIQUID_ACCOUNT_ADDRESS=0xe2820D6c9946ae8aA6603c9532D890a30ca7D8D0
MEXC_API_KEY=mx0vglRd3zP7yGA2LM
MEXC_API_SECRET=
